body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  background: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.btn-add {
  font-family: 'Montserrat', sans-serif;
  background-color: #dcdc5a;
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
}
.btn-delete {
  font-family: 'Montserrat', sans-serif;
  background: none;
  color: red;
  border: none;
  text-shadow: 1px 1px black;;
}
.container-plan {
  width: 40%;
  height: 100vh;
  margin-left: 30px;
}

.myInput {
  width: 90%;
  padding: 10px;
  height: 20px;
  border-radius: 15px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}
textarea {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 30px;
  width: 90%;
  height: 200px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
}
.selected {
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  background-color: #f7f7c57d;
  border: 2px solid #bbbb4c;
  padding: 2px;
  margin-top: 5px;
}
.default {
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  background-color: #c5e5f77d;
  padding: 2px;
  margin-top: 5px;
}
.container-shoppingList {
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  background-color: #c5e5f77d;
  padding: 2px;
  margin-top: 5px;
  height: 100%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: yellow;
  text-shadow: 5px 5px 10px black;
  margin-left: 150px;
  font-size: 30px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: yellow;
  text-shadow: 5px 5px 10px black;
  font-size: 20px;
}
.title {
  font-size: 14px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
.meal {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

